{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [miniclip_test]}
]}.

{relx, [
  {release, {miniclip_test, "0.1.0"}, [miniclip_test, sasl]},
  {dev_mode, true},
  {include_erts, false}
]}.

{applications, [miniclip_test, kernel, stdlib]}.

{profiles, [
    {test, [
        {src_dirs, ["src", "test"]}
    ]}
]}.